<%- include("../partials/header") %>
<div class="main-wrap push-down">
<h2>Flights</h2>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Airport</th>
        <th scope="col">Flight No.</th>
        <th scope="col">Departure Date</th>
        <th scope="col">Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) {%>
        <% if (f.hasPassed === true) {%>
        <tr style="background: rgb(255, 223, 223);">
        <%} else {%>
        <tr>
        <% } %>  
        
          <td><img src="/images/<%= f.airline %>.png"/>  <b><%= f.airline %></b></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.time %></td>
          <td><a href="/flights/<%= f.id %>"><button type="button" class="btn btn-outline-dark">View <i class="bi bi-search"></i> </button></a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</div>

<%- include("../partials/footer") %>