<%- include("../partials/header") %>
<div class="main-wrap push-down">
<h2><img src="/images/<%= icon %>.png"/> <%= title %> Flights</h2>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Airport</th>
        <th scope="col">Flight No.</th>
        <th scope="col">Departure date</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) {%>
        <tr>
          <td><%= f.airport %></td>
          <td><a href="/flights/<%= f.id %>" style="text-decoration: none; color:blue;"><%= f.flightNo %></a></td>
          <td><%= f.departs %></td>
          <td><%= f.time %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include("../partials/footer") %>